body {
    height: 100%;
    }

article {
    color: black;
}

#mainContainer {
    margin-top: 100px;
    margin-bottom: 100px;
}

#logo {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

#pageTitel {
    text-align: center;
}

.bg-image {
    /* The image used */
    background-image: url("../img/jardin.jpeg");
    /* If no image */
    background-color: green;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.cjp-footer:hover {
    color: white !important;
    background-color: grey !important;
    }
    
.cjp-footer:link {
    color: white !important;    
    }

.cjp-footer:visited {
    color: white !important;
    } 

.cjp-footer:active {
    color: white !important;
    }

.carousel {
    margin-top: 20px;
    background-color: #2f4357;
    max-width: 750px;
    height: auto;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-item{
    text-align: center;
    min-height: 280px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h5 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
   
